
/*
I can make any wish come true if you give me coins. I only like quarters, loonies, and toonies. $5 would do quite well. How many ways can you give me $5 if you are only to give me the coins I like?
*/

body {
  background-color: #14be9e; 
}

.App {
  margin: 30px auto;
  text-align: center;
  width: 900px;
}

.Header {
  display: flex;
  margin-bottom: 30px;
}

.Image {
  width: 110%;
  height: auto;
}

.ImageCover {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.Input {
  width: 100px;
  height: 40px;
  margin: 5px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #333; 
  color:#333; 
  border-radius: 3px;
}

h1 {
  color: white;
}

.Secret {
  display: none;
  margin: 5px 0;
  padding: 20px;
  background-color: #fed691;
  color: #333;
}

.no {
  background-color: #333;
  border-color: #333;
  color: white;
}

.kinda {
  background-color: #fed691;
  border-color: #fed691;
  color: #333;
}

.yes {
  background-color: #14be9e;
  border-color: #14be9e;
  color: white;
}

.Submit {
  height: 44px;
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #333;
  border-radius: 3px;
}

.Submit:disabled {
  background-color: white;
  border-color: white;
}

.Row {
  display: flex;
  align-items: center;
}

.Text {
  text-align: left;
}

.HippoImg {
  width: 300px;
}